<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="https://devcenter.heroku.com/articles/how-heroku-works"><span class="glyphicon glyphicon-user"></span> How Pokedex Works</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Guides <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="../pages/kanto.ejs">Kanto</a></li>
            <li><a href="../pages/jhoto.ejs">Jhoto</a></li>
            <li><a href="../pages/hoenn.ejs">Hoennu</a></li>
            <li><a href="../pages/sinnoh.ejs">Sinnoh</a></li>
            <li><a href="../pages/teselia.ejs">Teselia</a></li>
            <li><a href="../pages/kalos.ejs">Kalos</a></li>
            <li><a href="../pages/alola.ejs">Alola</a></li>
            <li><a href="../pages/galar.ejs">Galar</a></li>
            <li class="divider"></li>
            <li><a href="../pages/oblivia.ejs">Floresta</a></li>
            <li><a href="../pages/Floresta.ejs">Floresta</a></li>
            <li><a href="../pages/oblivia.ejs">Oblivia</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://devcenter.heroku.com"><span class="glyphicon glyphicon-heart-empty"></span> Adopt a Pikachu</a>
      </li>
    </ul>
  </div>
</nav>
