<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
  <script type="text/javascript" src="/javascript/single-pokemon.js"></script>
</head>
<!-- localhost:5000/detailed-info?url=blablabla-->>
<body>

  <% include ../partials/nav.ejs %>
  <% include ../partials/main-logo.ejs %>
  <div>
    <
      
</body>
</html>