<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  
</head>

<body>

  <% include ../partials/nav.ejs %>
  <% include ../partials/main-logo.ejs %>


  </div>
  <h3>How pokemon works</h3>
  <a>This is a pokedex where you can find every pokemon</a>
  

  <script type="text/javascript" src="/javascript/load-pokemon.js"></script>
</body>
</html>
