<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  
</head>

<body>

  <% include ../partials/nav.ejs %>
  <% include ../partials/main-logo.ejs %>


    <a type="button" class="btn btn-lg btn-default" href="first-gen"><span class="glyphicon glyphicon-flash"></span> First generation Pokedex</a>
    <a type="button" class="btn btn-lg btn-primary" href="../pages/natpoke.ejs"><span class="glyphicon glyphicon-record"></span> National Pokedex</a>
  </div>
  

  <script type="text/javascript" src="/javascript/load-pokemon.js"></script>
</body>
</html>
